
#menu a {
  text-decoration: none;
}

#framaheader {
  h1 a {
    color: #616161;
  }
  .navbar .container-fluid {
    padding: 0;
  }
}

.home {
  .alert-status {
    margin: 30px auto;

    li {
      padding: 10px;
    }
  }
}

#contactForm {
  .text-muted {
    display:none;
  }

  .alert, input, .btn {
    border-radius: 0;
  }

  .input-group-addon {
    border-right: 0;
    border-left: 0;
    background: #fff;
  }

  input, textarea, select {
    border-right: 0;
    border-left: 0;
    box-shadow: none;
  }

  .alert {
    margin: 0;
    border: 0;
  }

  textarea {
    clear: left;
    float: none;
    border: 0;
    border-left: 1px dashed #ccc;
  }

  #name_wrapper,
  #email_wrapper {
    .input-group-addon, input {
      border-top: 0;
    }
  }

  #subject_wrapper,
  #concerne_wrapper {
    .input-group-addon, input, select {
      border-top: 0;
    }
  }

  #message_wrapper {
    margin-bottom: 0;
    background: #fff;

    .input-group-addon {
      vertical-align: top;
      padding-top: 10px;
      border: 0;
    }

  }

  #subject_wrapper,
  #concerne_wrapper {
    margin-bottom: 0;
  }

  #file_wrapper {
    background: #fff;

    .input-group-addon, input[type="file"] {
      border-bottom: 0;
      height: auto;
      line-height: 30px;
    }
  }

  #concerne_wrapper,
  #file_wrapper {
    .input-group-addon {
      cursor: help;
    }
  }

  button.btn {
    display: none;
  }
}

#contactForm.disabled {
  cursor: not-allowed;

  .text-muted {
    display: block;
  }

  .input-group-addon, .alert,
  input, select, textarea {
    visibility: hidden;
  }

  input.btn {
    display: none;
  }

  .input-group {
    background: #ccc;
  }

  button.btn {
    display: inline-block;
    background: #ccc;
    border-color: #ccc;
    color: #ccc;
    text-shadow: none;
    opacity: 1;
  }
}
