body {
  background: $bgcolor;
  font-size:14px;
}

h1 {
  font-family: "DejaVu Sans",Verdana,Geneva,sans-serif;
  font-size: 48px;
  font-weight: bold;
}

.lead {
  font-style:italic;
}

.container.ombre {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
}

#tuto-faq,
#tuto-video,
#le-logiciel,
#jardin {
  p[role="presentation"] {
    i, span.glyphicon { /* glyphicon is depreciated */
      font-size:50px;
    }
  }
}

body {
  font-family: "DejaVu Sans", Verdana, Geneva, sans-serif;
  color:#333;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: PTSansCaption, GillSans, sans-serif;
  font-weight: bold;
  color: #616161;
}

h1 {font-family: "DejaVu Sans", Verdana, Geneva, sans-serif; font-weight:bold; }

header .lead {
  font-style:italic;
}

.trait { /* hr */
  background-color: #EEE;
  height: 11px;
  margin: 15px 0px;
  border: medium none;
}

.ombre {
  background-color: #FFF;
  -webkit-box-shadow: $ombre;
  -moz-box-shadow: $ombre;
  box-shadow: $ombre;
}

.container.ombre {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 30px;
}

img.ombre {
  box-shadow: $img-ombre;
  margin:10px;
  padding:0;
  width:90%;
}

.signature {
  font-style: italic;
  text-align:right;
  color:#795548;
}
