<template>
  <div>
    <h1 v-html="$t('faq.title')"></h1>
    <v-text :section="'faq.intro'" />

    <div v-for="key in Object.keys($t('faq')).filter(key => !/(intro|title|icon)/.test(key))"
      :key="key"
      :id="getFramaname(key) !== undefined ? text(getFramaname(key), 'latin').toLowerCase().replace(/[^a-z]/g, '') : key"
      class="list-group">
      <h2>
        <i :class="`fa ${getSectionIcon(key)}`" aria-hidden="true"></i>
        <span v-html="getFramaname(key) ? getFramaname(key) : $t(`faq.${key}.title`)"></span>
      </h2>
      <div
        v-for="id in Object.keys($t(`faq.${key}`)).filter(id => !/title/.test(id))"
        :key="id"
        :class="`list-group-item ${toggle === id ? 'fb_j0' : ''}`">
        <i v-if="toggle === id"
          class="fa fa-chevron-up pull-right" aria-hidden="true"
          @click="toggle = id;">
        </i>
        <i v-else
          class="fa fa-chevron-down pull-right" aria-hidden="true"
          @click="toggle = id;">
        </i>
        <h3
          class="list-group-item-heading"
          @click="toggle = id;">
          <a :id="id"></a>
          <span v-html="$t(`faq.${key}['${id}'].q`)"></span>
        </h3>
        <div
          v-show="id === toggle"
          class="list-group-item-text">

          <v-text :section="`faq.${key}['${id}'].a`" />

          <p class="text-right" >
            <a :href="`#${id}`" class="fc_g4">
              <i class="fa fa-link" aria-hidden="true"></i>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VText from '../partials/V-Text.vue';

export default {
  components: {
    VText,
  },
  data() {
    return {
      toggle: window.location.hash.replace(/^#/, ''),
    };
  },
  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.text(key, 'noframa latin sanitize')}`)
      ? this.$t(`color.${this.text(key, 'noframa latin sanitize')}`)
      : undefined;
    },
    getSectionIcon(key) {
      let icon = 'fa-question-circle';
      console.log(this.text(key, 'noframa latin sanitize')); // eslint-disable-line
      if (this.$te(`icon.${this.text(key, 'noframa latin sanitize')}`)) {
        icon = this.$t(`icon.${this.text(key, 'noframa latin sanitize')}`);
      }
      if (this.$te(`faq.icon.${key}`)) {
        icon = this.$t(`faq.icon.${key}`)
      }
      return icon;
    },
  }
}
</script>
