<template>
  <div class="home">
    <h1 v-html="$t('home.title')"></h1>
    <div class="row alert-status">
      <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-danger" role="alert">
        <h2 v-html="$t('home.status.title')"></h2>
        <v-text :section="'home.status.body'" />
      </div>
      </div>
    </div>
    <div class="clearfix">
      <div id="menu" class="list-group col-sm-6">
        <a class="list-group-item"
          role="tab" data-toggle="tab"
          aria-controls="aide"
          href="#aide"
          onclick="return false"
          @click="section = 'aide'; $scrollTo('#sections'); form.concerne = ''"
          >
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x fc_v5"></i>
            <i class="fa fa-stack-1x fa-life-ring fa-inverse"></i>
          </span>
          <span class="list-group-item-heading h4" v-html="$t('home.menu.aide[0]')"></span>
          <span class="list-group-item-text" v-html="$t('home.menu.aide[1]')"></span>
        </a>
        <a class="list-group-item"
          role="tab" data-toggle="tab"
          aria-controls="messages"
          href="#participer"
          onclick="return false"
          @click="section = 'participer'; $scrollTo('#sections'); form.concerne = 'Participer'">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x fc_b9"></i>
            <i class="fa fa-stack-1x fa-paw fa-inverse"></i>
          </span>
          <span class="list-group-item-heading h4" v-html="$t('home.menu.participer[0]')"></span>
          <span class="list-group-item-text" v-html="$t('home.menu.participer[1]')"></span>
        </a>
        <a class="list-group-item" role="tab"
          href="#soutenir"
          onclick="return false"
          @click="section = 'soutenir'; $scrollTo('#sections'); form.concerne = 'Soutenir'"
          aria-controls="settings" data-toggle="tab">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x fc_j6"></i>
            <i class="fa fa-stack-1x fa-heart fa-inverse"></i>
          </span>
          <span class="list-group-item-heading h4" v-html="$t('home.menu.soutenir[0]')"></span>
          <span class="list-group-item-text" v-html="$t('home.menu.soutenir[1]')"></span>
        </a>
        <a class="list-group-item" role="tab"
          href="#general"
          onclick="return false"
          @click=" section = 'general'; $scrollTo('#sections'); form.concerne = ''"
          aria-controls="general" data-toggle="tab">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x fc_o5"></i>
            <i class="fa fa-stack-1x fa-envelope fa-inverse"></i>
          </span>
          <span class="list-group-item-heading h4" v-html="$t('home.menu.general[0]')"></span>
          <span class="list-group-item-text" v-html="$t('home.menu.general[1]')"></span>
        </a>
        <a class="list-group-item" :href="$t('link.cuo')">
          <span class="fa-stack fa-2x">
            <i class="fa fa-circle fa-stack-2x fc_f5"></i>
            <i class="fa fa-stack-1x fa-bicycle fa-inverse"></i>
          </span>
          <span class="list-group-item-heading h4" v-html="$t('txt.cuo')"></span>
          <span class="list-group-item-text" v-html="$t('home.menu.campagne[0]')"></span>
        </a>
      </div>
      <div id="msgCom" class="col-sm-6">
        <div class="well">
          <v-text :section="'home.intro'" />
        </div>
      </div>
    </div>

    <!--
      An anchor is needed because
      sections are invisible for scrollto()
    -->
    <a id="sections"></a>

    <Help v-show="section === 'aide'" :concern="form.concerne" />

    <Participate v-show="section === 'participer'" />

    <Support v-show="section === 'soutenir'" />

    <General v-show="section === 'general'" />

    <section v-if="success.status === ''"
      id="contactForm"
      :class="`clearfix ${(section === '' || (section === 'aide' && form.concerne === '')) ? 'disabled' : ''}`">
      <h2 v-html="$t('home.form.title')"></h2>

      <p v-if="section === ''"
        class="text-muted"
        v-html="`${$t('home.form.warning[0]')} ${$t('home.form.warning[1]')} ${$t('home.form.warning[3]')}`">
      </p>

      <p v-if="section === 'aide' && form.concerne === ''"
        class="text-muted"
        v-html="`${$t('home.form.warning[0]')} ${$t('home.form.warning[2]')} ${$t('home.form.warning[3]')}`">
      </p>

      <div class="well clearfix">
        <form role="form" action="#" @submit="sendMail">
          <div class="col-md-4">
            <!-- Name -->
            <div id="name_wrapper" :class="`form-group ${ok.name}`">
              <div class="input-group">
                <label for="name"
                  class="sr-only"
                  v-html="`${$t('home.form.name')} (${$t('home.form.required')})`">
                </label>
                <span class="input-group-addon" aria-hidden="true">
                  <i class="fa fa-user fa-fw fa-lg"></i>
                </span>
                <input id="name"
                  v-model="form['your-name']"
                  type="text" size="40" required
                  class="form-control"
                  :placeholder="$t('home.form.name')"
                  @focusout="check('name')">
              </div>
            </div>

            <!-- Email -->
            <div id="email_wrapper" :class="`form-group ${ok.email}`">
              <div class="input-group">
                <label for="email" class="sr-only"
                  v-html="`${$t('home.form.email')} (${$t('home.form.required')})`">
                </label>
                <span class="input-group-addon" aria-hidden="true">
                  <i class="fa fa-envelope-o fa-fw fa-lg"></i>
                </span>
                <input id="email"
                  type="email" size="40" required
                  v-model="form['your-email']"
                  class="form-control"
                  :placeholder="$t('home.form.email')"
                  @focusout="check('email')"
                >
              </div>
              <p class="alert" v-html="$t('home.alert.email')"></p>
            </div>
          </div>
          <div class="col-md-8">
            <!-- Subject -->
            <div id="subject_wrapper" :class="`form-group ${ok.subject}`">
              <div class="input-group">
                <label for="subject"
                  class="sr-only"
                  v-html="`${$t('home.form.subject')} (${$t('home.form.required')})`">
                </label>
                <span class="input-group-addon" aria-hidden="true">
                  <i class="fa fa-question fa-fw fa-lg"></i>
                </span>
                <input id="subject"
                  v-model="form['your-subject']"
                  type="text" size="40" required
                  class="form-control"
                  :placeholder="$t('home.form.subject')"
                  @focusout="check('subject')">
              </div>
            </div>

            <!-- Concern -->
            <div v-if="section === 'general'"
              id="concerne_wrapper"
              :class="`form-group ${ok.concerne}`">
              <div class="input-group" :title="$t('home.form.concerne')">
                <label for="concerne" class="sr-only"
                  v-html="`${$t('home.form.concerne')} (${$t('home.form.required')})`">
                </label>
                <span class="input-group-addon" aria-hidden="true">
                  <i class="fa fa-crosshairs fa-fw fa-lg"></i>
                </span>
                <select id="concerne"
                  v-model="form.concerne"
                  class="form-control"
                  required
                  @focusout="check('concerne')">
                  <option value="">---</option>
                  <option value="Annonce d'un événement libre">Annonce d’un événement libre</option>
                  <option value="Invitation à un événement">Invitation à un événement</option>
                  <option value="Partenariat">Partenariat</option>
                  <option value="Contact presse">Contact presse</option>
                  <option value="Newsletter">Newsletter</option>
                  <option value="Questions sur l'association">Questions sur l’association</option>
                  <option value="Prestation / Emploi : réponse ou candidature spontanée">Prestation / Emploi : réponse ou candidature spontanée</option>
                </select>
              </div>
            </div>

            <!-- Message -->
            <div id="message_wrapper" :class="`form-group ${ok.message}`">
              <div class="input-group">
                <label for="message"
                  class="sr-only"
                  v-html="`${$t('home.form.message')} (${$t('home.form.required')})`">
                </label>
                <span class="input-group-addon" aria-hidden="true">
                  <i class="fa fa-pencil fa-fw fa-lg"></i>
                </span>
                <textarea id="message"
                  v-model="form['your-message']"
                  cols="40" rows="10" required
                  class="form-control"
                  :placeholder="$t('home.form.message')"
                  @focusin="bienveillance = true;"
                  @focusout="check('message')">
                </textarea>
                <p v-show="bienveillance"
                  class="alert alert-info"
                  v-html="$t('home.alert.kindness', icons)">
                </p>
                <p v-for="id in Object.keys($t('home.alert'))"
                  v-show="form.concerne === $t(`txt.${id}`)"
                  :key="id"
                  class="alert alert-warning"
                  v-html="$t(`home.alert.${id}`)">
                </p>
                <p class="alert alert-danger" v-html="$t('home.alert.mdp')"></p>
              </div>
            </div>

            <!-- File -->
            <div id="file_wrapper" class="form-group">
              <div class="input-group" :title="`${$t('home.form.fileHelp')} ${ext.join(', ')}`">
                <label for="file"
                  class="sr-only"
                  v-html="`${$t('home.form.file')} (${$t('home.form.optional')})`">
                </label>
                <span class="input-group-addon" aria-hidden="true">
                  <i class="fa fa-paperclip fa-fw fa-lg"></i>
                </span>
                <input ref="file"
                  type="file" size="40"
                  class="form-control"
                  :accept="ext.join()"
                  @change="fileUpload()">
              </div>
            </div>
          </div>

          <!-- Submit -->
          <p class="text-center">
            <input type="submit"
              :value="$t('home.form.submit')"
              class="btn btn-primary btn-lg">
          </p>
        </form>
      </div>
    </section>

    <section v-if="success.status === 'mail_sent'" class="well clearfix">
      <p class="text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle-thin fa-stack-2x fc_v5"></i>
          <i class="fa fa-stack-1x fa-check fc_v5"></i>
        </span>
      </p>
      <p class="col-md-6 col-md-offset-3 alert"
        v-html="$t('home.alert.sent')">
      </p>
    </section>

    <section v-if="/failed$/.test(success.status)" class="well clearfix">
      <p class="text-center">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle-thin fa-stack-2x fc_r5"></i>
          <i class="fa fa-stack-1x fa-times fc_r5"></i>
        </span>
      </p>
      <p class="col-md-6 col-md-offset-3 alert"
        v-html="$t('home.alert.failed')">
      </p>
    </section>
  </div>
</template>

<script>
import VText from '../partials/V-Text.vue';

import Help from './home/Help.vue';
import Participate from './home/Participate.vue';
import Support from './home/Support.vue';
import General from './home/General.vue';

export default {
  components: {
    VText,
    Help, Participate, Support, General,
  },
  data() {
    return {
      bienveillance: false,
      section: '',
      icons: {
        gafam: `
          <i class="fa fa-google" aria-hidden="true" title="Google"></i>
          <i class="fa fa-apple" aria-hidden="true" title="Apple"></i>
          <i class="fa fa-facebook" aria-hidden="true" title="Facebook"></i>
          <i class="fa fa-amazon" aria-hidden="true" title="Amazon"></i>
          <i class="fa fa-windows" aria-hidden="true" title="Microsoft"></i>
          <span class="sr-only">Google, Apple, Facebook, Amazon, Microsoft</span>
        `,
      },
      ext: [
        '.gif', '.png', '.jpg', '.jpeg', '.svg', '.pdf', '.txt', '.doc',
        '.docx', '.pps', '.ppt', '.pptx', '.odt', '.odg', '.odp', '.log',
        '.rtf', '.tex', '.csv', '.xls', '.xslx', '.vcf', '.xml', '.gpx',
        '.css', '.gz'
      ],
      form: {
        _wpcf7: '423',
        _wpcf7_version: '5.1.1',
        _wpcf7_locale: 'en_US',
        _wpcf7_unit_tag: 'wpcf7-f423-p5-o1',
        _wpcf7_container_post: '5',
        'g-recaptcha-response': '',
        'mailou-158': '',
        'your-name': '',
        'your-email': '',
        concerne: '',
        'your-subject': '',
        'your-message': '',
        'your-file': '',
        'your-referrer': document.referrer,
        'your-languages': window.navigator.languages,
      },
      ok: {
        name: '',
        email: '',
        subject: '',
        message: '',
        concerne: '',
      },
      success: {
        into: '',
        message: '',
        status: '',
      },
      submit: false,
    };
  },
  mounted() {
    if (/^(general|presse|newsletter)/.test(this.$t('hash'))) {
      this.section = 'general';
    }
    if (/^(soutenir|dons|soutien|support)/.test(this.$t('hash'))) {
      this.section = 'soutenir';
      this.form.concerne = 'Soutenir';
    }
    if (/^(participer|participate)/.test(this.$t('hash'))) {
      this.section = 'participer';
      this.form.concerne = 'Participer';
    }
    if (/^(help|aide)/.test(this.$t('hash'))) {
      this.section = 'aide';
    }
    if (/^(press)/.test(this.$t('hash'))) {
      this.section = 'general';
      this.form.concerne = 'Contact presse';
    }
    if (/^(newsletter)/.test(this.$t('hash'))) {
      this.section = 'general';
      this.form.concerne = 'Newsletter';
    }
    // Framatrucs
    if (this.$te(`txt.${this.text(this.$t('hash'), 'noframa latin sanitize')}`)) {
      this.section = 'aide';
      this.form.concerne = this.$t(`txt.${this.text(this.$t('hash'), 'noframa latin sanitize')}`);
    }
  },
  methods: {
    fileUpload(){
      this.form['your-file'] = this.$refs.file.files[0];
    },
    check(input) {
      switch (input) {
        case 'email':
          const email = document.getElementById('email');
          if (email.validity.valueMissing) {
            this.ok.email = ' has-error';
            email.setCustomValidity(this.$i18n.messages[this.$i18n.locale].home.form.error_empty);
          } else if (email.validity.typeMismatch) {
            this.ok.email = ' has-error';
            email.setCustomValidity(this.$i18n.messages[this.$i18n.locale].home.form.error_email);
          } else {
            this.ok.email = ' has-success';
            email.setCustomValidity('');
          }
          break;
        default:
          const el = document.getElementById(input);
          if (el.validity.valueMissing) {
            this.ok[input] = ' has-error';
            el.setCustomValidity(this.$i18n.messages[this.$i18n.locale].home.form.error_empty);
          } else {
            this.ok[input] = ' has-success';
            el.setCustomValidity('');
          }
          break;
      }
    },
    sendMail(e) {
      if (!this.submit) {
        this.submit = true;
        const sendData = new FormData();
        Object.entries(this.form).map(([key, val]) => sendData.append(key, val));

        fetch('https://contact.framasoft.org/wp-json/contact-form-7/v1/contact-forms/423/feedback', {
            method: 'POST',
            body: sendData,
        }).then(response => response.json())
          .then((data) => {
            this.success = data;
        }).catch(function (err) {
          console.error(err); // eslint-disable-line
        });
      }
      e.preventDefault();
    }
  }
}
</script>
