<template>
  <div>
    <h1 v-html="$t('newsletter.title')"></h1>

    <p v-html="$t('newsletter.intro[0]')"></p>
    <p v-html="$t('newsletter.intro[1]')"></p>
    <div class="clearfix">
      <form
        method="post" name="subscribeform"
        action="https://contact.framasoft.org/php_list/lists/?p=subscribe&amp;id=2">
        <div class="input-group col-md-6 col-md-offset-3">
          <input
            class="form-control"
            :title="$t('newsletter.set-your-email')"
            name="email"
            size="40"
            type="email"
            :placeholder="$t('newsletter.your-email')" />
          <span class="input-group-btn">
            <button
              class="btn btn-primary"
              name="subscribe"
              type="submit"
              value="Abonnement"
              v-html="$t('newsletter.subscribe')">
            </button>
          </span>
        </div>
        <input name="htmlemail" type="hidden" value="1" />
        <input name="list[5]" type="hidden" value="signup" />
        <input name="listname[5]" type="hidden" value="Newsletter" />
        <div style="display: none;"><input name="VerificationCodeX" size="20" type="text" value="" /></div>
      </form>
    </div>
    <p>
      <br>
      <span v-html="$t('newsletter.nb[0]')"></span>
      <a href="https://contact.framasoft.org/php_list/lists/?p=unsubscribe"
        v-html="$t('newsletter.nb[1]')"></a>
      <span v-html="$t('newsletter.nb[2]')"></span>
    </p>
    <div class="row">
      <div class="col-md-6">
        <a name="archives"></a>
        <h2 v-html="$t('newsletter.archives')"></h2>
        <ul class="list-group">
          <li v-for="(day, index) in nl" :key="index" class="list-group-item">
              <a :href="`${$t('/')}nl/newsletter${nl.length - index}.html`"
                v-html="`${$t('newsletter.title')} n°${nl.length - index}`">
              </a>
              <span v-text="` - ${(new Date(day)).toLocaleDateString($i18n.locale, {year: 'numeric', month: 'long'})}`">
              </span>
            </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h3 v-html="$t('newsletter.hs')"></h3>
        <ul class="list-group">
          <li v-for="(day, index) in hs" :key="index" class="list-group-item">
              <a :href="`${$t('/')}nl/newsletterHS0${hs.length - index}.html`"
                v-html="`${$t('newsletter.title')} ${$t('newsletter.hs').toLowerCase()} n°${hs.length - index}`">
              </a>
              <span v-text="` - ${(new Date(day)).toLocaleDateString($i18n.locale, {year: 'numeric', month: 'long'})}`">
              </span>
            </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nl: [
        '2019-12-09', '2019-10-16',
        '2018-12-01', '2018-10-29', '2018-07-02', '2018-05-05',
        '2017-12-13', '2017-10-14', '2017-06-01', '2017-03-24',
        '2016-12-16', '2016-10-14', '2016-06-18', '2016-04-06',
        '2015-12-10', '2015-10-28', '2015-06-23', '2015-04-01',
        '2014-10-24', '2014-06-30',
        '2011-12-02', '2011-06-07',
        '2010-12-13',
      ],
      hs: [
        '2018-01-25',
        '2017-09-28',
      ],
    };
  },
}
</script>
