<template>
  <section id="general" class="clearfix">
    <hr class="trait fb_o1">
    <a id="press" class="invisible"></a>
    <a id="newsletter" class="invisible"></a>
    <h2 v-html="$t('home.menu.general[0]')"></h2>
    <div class="clearfix">
      <div class="tab-content col-md-8 col-md-offset-2">
        <p class="text-center" role="presentation" aria-hidden="true">
          <i class="fa fa-question-circle fa-4x text-muted"></i>
        </p>
        <h3 v-html="$t('home.faq')"></h3>
        <ul id="faq_asso">
          <li v-for="id in Object.keys($t('faq.asso')).filter(i => !/title/.test(i))"
            :key="id">
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.asso.${id}.q`)">
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <hr class="trait fb_o1">
  </section>
</template>