<template>
  <section id="aide" class="clearfix">
    <hr class="trait fb_v1">
    <h2 v-html="$t('home.aide.title')"></h2>
    <div class="tab-content clearfix">
      <div v-for="(col, index) in this.$t('cols')" :key="index"
        class="list-group col-sm-4">
          <button
            v-for="id in col" :key="id"
            type="button"
            :class="`list-group-item ${text($t(`txt.${id}`), 'latin sanitize')}${concern.toLowerCase() === text($t(`txt.${id}`), 'latin sanitize') ? ' fb_g2' : ''}`"
            :title="$t(`desc.${id}`)"
            @click="$parent.form.concerne = $t(`txt.${id}`)">
            <i v-if="concern.toLowerCase() === text($t(`txt.${id}`), 'latin sanitize')" class="fa fa-check pull-right" aria-hidden="true"></i>
            <i :class="`fa fa-fw fa-lg ${$t(`icon.${id}`)}`" aria-hidden="true"></i>
            <span v-html="$t(`color.${id}`)"></span>
          </button>
      </div>
    </div>
    <div class="clearfix">
      <div class="tab-content col-md-8 col-md-offset-2">
        <p class="text-center" role="presentation" aria-hidden="true">
          <i class="fa fa-question-circle fa-4x text-muted"></i>
        </p>
        <h3 v-html="$t('home.faq')"></h3>
        <ul id="faq_autre">
          <li v-for="id in Object.keys($t('faq.autre')).filter(i => !/title/.test(i))"
            :key="id">
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.autre.${id}.q`)">
            </router-link>
          </li>
        </ul>
        <div v-for="section in Object.keys($t('faq')).filter(key => getFramaname(key))"
          :key="section"
          v-show="text(concern, 'latin sanitize') === text(getFramaname(section), 'latin sanitize')">
          <h4>… concernant
            <span v-html="getFramaname(section) === undefined ? $t(`faq.${section}.title`) : getFramaname(section)"></span>
          </h4>
          <ul>
            <li v-for="id in Object.keys($t(`faq.${section}`)).filter(i => !/title/.test(i))"
              :key="id">
              <router-link
                :to="`/${$t('lang')}/faq/#${id}`"
                v-html="$t(`faq.${section}.${id}.q`)">
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="trait fb_v1">
  </section>
</template>

<script>
export default {
  props: {
    concern: {
      type: String,
      required: true,
    },
  },
  methods: {
    getFramaname(key) {
      return this.$te(`color.${this.text(key, 'noframa latin sanitize')}`)
      ? this.$t(`color.${this.text(key, 'noframa latin sanitize')}`)
      : undefined;
    },
  }
}
</script>