<template>
  <section id="soutenir" class="clearfix">
    <hr class="trait fb_j1">
    <h2 v-html="`${$t('home.menu.soutenir[0]')} ${$t('home.menu.soutenir[1]')}`"></h2>
    <div class="clearfix">
      <div class="tab-content col-md-8 col-md-offset-2">
        <p class="text-center" role="presentation" aria-hidden="true">
          <i class="fa fa-question-circle fa-4x text-muted"></i>
        </p>
        <h3 v-html="$t('home.faq')"></h3>
        <ul id="faq_les_dons">
          <li v-for="id in Object.keys($t('faq.les_dons')).filter(i => !/title/.test(i))"
            :key="id">
            <router-link
              :to="`/${$t('lang')}/faq/#${id}`"
              v-html="$t(`faq.les_dons.${id}.q`)">
            </router-link>
          </li>
        </ul>
      </div>
    </div>
    <hr class="trait fb_j1">
  </section>
</template>