<template>
  <navbar>
    <template slot="collapse">
      <navbar-nav>
        <router-link
          tag="li" active-class="active" exact
          :to="`/${$t('lang')}/`">
          <a v-html="$t('home.title')"></a>
        </router-link>
        <router-link
          tag="li" active-class="active"
          :to="`/${$t('lang')}/faq`">
            <a v-html="$t('faq.title')"></a>
        </router-link>
        <li>
          <a :href="$t('link.docs')"
            v-html="$t('documentation')">
          </a>
        </li>
        <li>
          <a :href="$t('link.colibri')"
            v-html="$t('forum')">
          </a>
        </li>
        <router-link
          tag="li" active-class="active"
          :to="`/${$t('lang')}/irc`">
            <a v-html="$t('irc.title')"></a>
        </router-link>
        <router-link
          tag="li" active-class="active"
            :to="`/${$t('lang')}/newsletter`">
            <a v-html="$t('newsletter.title')"></a>
        </router-link>
        <li>
          <a :href="$t('link.status')"
            v-html="$t('status')">
          </a>
        </li>
      </navbar-nav>
    </template>
  </navbar>
</template>
<script>
import { Navbar, NavbarNav } from 'uiv';
export default {
  components: {
    Navbar, NavbarNav,
  },
}
</script>
